* {
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

body {
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
   
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 9vmin;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    color: #a13b37;
    background-color: #ffffc2;
}

#reset-btn{
font-size:1.25rem;
padding:1rem;
background-color: #191911;
color: #fff;
border: none;
border-radius: 1rem;
}

#new-btn{
   font-size:1.25rem;
padding:1rem;
background-color: #191911;
color: #fff;
border: none; 
border-radius: 1rem;
}

#msg{
    color:#ffffc7;
    font-size:5vmin;
}

.msg-container{
    height:18vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    margin-top: 0;
}

.hide{
    display: none;
}
